:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: #ffffff;
    --color-secondary: #33364d;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
.time{
    font-size: 20px;
    color:black;
}
img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    
}
.multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
}
  
.multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
        calc(var(--space) / 1.125)
        var(--space)
        var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}
  
.multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}
  
.multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}
  
.multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}
  
.multi-button button:active {
    transform: translateY(var(--border-size));
}
.select{
    background-color: var(--color-secondary);
    color:var(--color-primary);
    transition: 0.5s;
}
.row-settings{
    padding:10px;
}
.row .col-4 .list-group-item{
    /* border: var(--border-size) solid black; */
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    /* line-height: 2; */
}
.row .col-4 .active{
    background-color: var(--color-secondary);
    color:var(--color-primary);
    transition: 0.5s;
    border: var(--border-size) solid black;
}
.settings{
    font-size: 1.5rem;
    font-family: var(--font-family);
}
#settingsForm button{
    background-color: var(--color-primary) ;
    color:var(--color-secondary);
    border-radius: 5px;
    padding:4px;
    transition: all .2s ease-in-out;
}
#settingsForm button:hover{
    transform: scale(1.2);
}
.update-btn{
    background-color: var(--color-secondary)!important ;
    color:var(--color-primary)!important;
}
.change-preview-bg{
    position: absolute;
    right:20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* box-shadow: 0 0 5px #333; */
}
.preview{
    background: url('../icons/Wallpaper.jpg')no-repeat center /cover ;
    height: 30vh;
}